.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 20px 30px;
  background-color: #3b181e;
}
.header--open {
  justify-content: center;
  padding-top: 28px;
}
.header__logo {
  width: 96px;
  z-index: 1;
}

.header__menu-button {
  position: absolute;
  top: 26px;
  right: 30px;
}
@media (width >= 768px) {
  .header {
    padding: 38px 50px 38px 50px;
    background-color: transparent;
  }
  .header--open {
    padding-top: 112px;
  }
  .header__logo {
    width: 138px;
  }
  .header__menu-button {
    top: 38px;
    right: 50px;
  }
}
@media (width >= 1110px) {
  .header {
    padding: 40px 90px 87px 96px;
  }
  .header--open {
    padding-top: 96px;
  }
  .header__menu-button {
    top: 64px;
    right: 90px;
  }
}
