.logo__icon {
  width: 83px;
  height: 15px;
}
@media (width >= 768px) {
  .logo__icon {
    width: 134px;
    height: 23px;
  }
}
.logo__title {
  margin: 0;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}
@media (width >= 768px) {
  .logo__title {
    font-size: 20px;
    line-height: 22px;
  }
}
